<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
        <link href="../../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" />
        <link href="../../static/css/address_list/list.css" th:href="@{/css/address_list/list.css}" rel="stylesheet" />
        <title>WEB Addressbook</title>
    </head>
    
    <body>
        <div class="flex_column">
            <!-- HEADER -->
            <div th:replace="/fragment/header.html::logout_header"></div>

            <!-- CONTENTS -->
            <div class="flex_contents bg_image">
                <div class="container">
                    <div class="row">
                        <h2 class="screen_title">アドレス一覧</h2>
                        <hr class="hr_red">
                    </div>
                    <form method="post" action="/address_list/update" th:object="${addressListForm}">
                        <div class="row">
                            <table class="table table-striped main_table">
                                <thead>
                                    <tr class="main_table_header">
                                        <th>名前</th>
                                        <th>電話番号</th>
                                        <th>メールアドレス</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="address : *{addressList}">
                                        <td th:text="${address.lastname}">試験一郎</td>
                                        <td th:text="${address.mobilePhoneNumber}">090-1111-2222</td>
                                        <td th:text="${address.email}">test@wabk.com</td>
                                        <td>
                                            <i th:id="${address.id}" class="edit_btn far fa-edit"></i>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>

            <!-- FOOTER -->
            <div th:replace="/fragment/footer.html::footer"></div>
        </div>
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- 本画面用のJS -->
        <script type="text/javascript" src="../../static/js/address_list/list.js" th:src="@{/js/address_list/list.js}"></script>
    </body>
</html>