.label_name {
    color: rgba(117, 27, 5, 0.87);
    text-align: right;
    font-weight: 600;
}

.address_modal_header {
    background-color: rgb(228, 203, 178);
}

.address_modal_title {
	display: flex;
	align-items: center;"
}

.fullname_kana_size {
	font-size: 0.6em;
}