
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="../../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" />

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    
    <body style="background-color: papayawhip">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#address_modal">表示</button>
        <button type="button" class="btn btn-primary" id="btn_view">表示(javascript)</button>

        <!-- fragment start -->
        <div th:fragment="fragment_address_modal">
            <link href="../../static/css/fragment/address_modal.css" th:href="@{/css/fragment/address_modal.css}" rel="stylesheet" />
            <link href="../../static/css/dl/iziToast.min.css" th:href="@{/css/dl/iziToast.min.css}" rel="stylesheet" />
            
            <!-- SPINNER -->
	        <div id="loading" class="loading is_hide">
	            <div class="loading_icon"></div>
	        </div>
        
            <!-- MODAL -->
            <div class="modal fade" id="address_modal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="container-flued">
                        
                            <!-- MODAL HEADER -->
                            <div class="modal-header address_modal_header">
                                <div id="name_output">
                                    <h4 class="modal-title address_modal_title">
                                        <span class="label_name ml-4" id="modalFullname"></span>
                                        <span class="label_name ml-3 fullname_kana_size" id="modalFullnameKana"></span>
                                    </h4>
                                </div>
                                <div id="name_input" class="name_is_hide" style="padding-left: 10px; padding-top: 10px;">
                                    <div class="form-group row" style="width: 750px;">
                                        <div class="col-6">
                                            <input type="text" class="form-control" id="modalLastnameKana" name="lastNameKana" placeholder="姓（カナ）"  autocomplete="off" />
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" id="modalFirstnameKana" name="firstNameKana"  placeholder="名（カナ）"  autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="form-group row" style="width: 750px;">
                                        <div class="col-6">
                                            <input type="text" class="form-control" id="modalLastname" name="lastName" placeholder="姓" autocomplete="off" />
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" id="modalFirstname" name="firstName" placeholder="名" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <!-- 閉じるボタン -->
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <!-- トグルボタン -->
                                <span id="name_toggle">＋</span>
                            </div>
                            
                            <!-- MODAL BODY -->
                            <input type="hidden" id="modalTargetId" name="targetId" />
                            
                            <div class="modal-body">
                                <div class="row">
                                    <div id="modal_global_error" class="col-12">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="modalMobilePhoneNumber" class="col-3 col-form-label label_name">携帯電話番号</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control-plaintext" id="modalMobilePhoneNumber" name="mobilePhoneNumber" autocomplete="off"/>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="modalHomePhoneNumber" class="col-3 col-form-label label_name">電話番号</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control-plaintext" id="modalHomePhoneNumber" name="homePhoneNumber" autocomplete="off"/>
                                    </div>
                                </div>
            
                                <div class="form-group row">
                                    <label for="modalEmail" class="col-3 col-form-label label_name">メールアドレス</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control-plaintext" id="modalEmail" name="email" autocomplete="off"/>
                                    </div>
                                </div>
            
                                <div class="form-group row">
                                    <label for="modalZipCode" class="col-3 col-form-label label_name">郵便番号</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control-plaintext" id="modalZipCode" name="zipCode" autocomplete="off"/>
                                    </div>
                                </div>
            
                                <div class="form-group row">
                                    <label for="modalPrefecture" class="col-3 col-form-label label_name">住所</label>
                                    <div class="col-9">
                                        <input type="text" class="form-control-plaintext" id="modalPrefecture" name="prefecture" autocomplete="off"/>
                                        <input type="text" class="form-control-plaintext" id="modalAddress" name="address" autocomplete="off"/>
                                        <input type="text" class="form-control-plaintext" id="modalBuildingName" name="buildingName" autocomplete="off"/>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- MODAL FOOTER -->
                            <div class="modal-footer">
                                <!--  
                                <button type="button" class="btn btn-info" data-dismiss="modal">閉じる</button>
                                -->
                                <button type="submit" id="modal_update_button" class="btn btn-info"><i class="far fa-list-alt fa-fw"></i> 更新</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <script src="../../static/js/fragment/address_modal.js" th:src="@{/js/fragment/address_modal.js}"></script>
            <script src="../../static/js/dl/iziToast.min.js" th:src="@{/js/dl/iziToast.min.js}"></script>
        </div>
        <!-- fragment end -->

        <script>
            $( function() {
                $('#btn_view').click( function () {
                    $('#address_modal').modal();
                });
            });
        </script>
    </body>
</html>