<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <!-- FOOTER -->
        <div class="flex_footer" th:fragment="footer">
            <!--
            <p class="copyright">Copyright © OsawaApps 2018. All rights reserved.</p>
            -->
	        <div class="container-fluid">
	            <div class="row">
	                <div class="col-4">
	                    <a href="http://twitter.com/share" onclick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><i class="fab fa-twitter fa-2x"></i></a>
	                    &nbsp;
	                    <a href="http://www.facebook.com/share.php" onclick="window.open(encodeURI(decodeURI(this.href)), 'FBwindow', 'width=554, height=470, menubar=no, toolbar=no, scrollbars=yes'); return false;" rel="nofollow"><i class="fab fa-facebook fa-2x"></i></a>
	                </div>
	                <div class="col-8" style="text-align: right;">
	                    <a href="/doc/rule.html" target="_blank">利用規約</a>
	                    <span class="margin_left_right">|</span>
	                    <a href="/doc/privacy_policy.html" target="_blank">プライバシーポリシー</a>
	                    <span class="margin_left_right">|</span>
	                    <a href="/doc/contact.html" target="_blank">お問い合わせ</a>
	                </div>
	            </div>
	            <div class="row" style="margin-top: 10px;">
	                <div class="col-12">
	                    <p class="copyright">Copyright © OsawaApps 2018. All rights reserved.</p>
	                </div>
	            </div>
	        </div>
        </div>
    </body>
</html>
