<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <!-- ボタンなしヘッダ -->
        <div class="flex_header" th:fragment="no_button_header">
            <nav class="navbar navbar-light header_height">
                <a class="navbar-brand" th:href="@{'/'}">WEB Addressbook</a>
                <div class="justify-content-end">
                    <span th:if="${session.userInfo != null}">
                        <span class="header_mail" th:text="${session.userInfo.email}"></span>
                    </span>
                </div>
            </nav>
        </div>
        
        <!-- ログアウトボタンありヘッダ -->
        <div class="flex_header"　th:fragment="logout_header">
            <nav class="navbar navbar-light header_height">
                <a class="navbar-brand" th:href="@{'/'}">WEB Addressbook</a>
                <div class="justify-content-end">
                    <span th:if="${session.userInfo != null}">
                        <span class="header_mail" th:text="${session.userInfo.email}"></span>
                    </span>
	                <a href="../menu.html" th:href="@{'/menu'}" class="btn btn-header ml-1" title="メニューへ戻る"><i class="fas fa-th-list fa-fw"></i><br /><span class="button_header_font_size">メニュー</span></a>
	                <a href="../index.html" th:href="@{'/logout'}" class="btn btn-header" title="ログアウト"><i class="fas fa-sign-out-alt fa-fw"></i><br /><span class="button_header_font_size">ログアウト</span></a>
                </div>
            </nav>
        </div>

        <!-- ログアウトボタンありヘッダ -->
        <div class="flex_header"　th:fragment="logout_only_header">
            <nav class="navbar navbar-light header_height">
                <a class="navbar-brand" th:href="@{'/'}">WEB Addressbook</a>
                <div class="justify-content-end">
                    <span th:if="${session.userInfo != null}">
                        <span class="header_mail" th:text="${session.userInfo.email}"></span>
                    </span>
                    <a href="../index.html" th:href="@{'/logout'}" class="btn btn-header" title="ログアウト"><i class="fas fa-sign-out-alt fa-fw"></i><br /><span class="button_header_font_size">ログアウト</span></a>
                </div>
            </nav>
        </div>
        
        <!-- TOPへ戻るボタンありヘッダ -->
        <!--
        <div class="flex_header"　th:fragment="return_top_header">
            <nav class="navbar navbar-light header_height">
                <a class="navbar-brand" th:href="@{'/'}">WEB Addressbook</a>
                <div class="justify-content-end">
                    <span th:if="${session.userInfo != null}">
                        <span class="header_mail" th:text="${session.userInfo.email}"></span>
                    </span>
                </div>
            </nav>
        </div>
        -->
        
        <!-- 新規登録ボタンありヘッダ -->
        <!--
        <div class="flex_header"　th:fragment="sign_up_header">
            <nav class="navbar navbar-light header_height">
                <a class="navbar-brand" th:href="@{'/'}">WEB Addressbook</a>
                <div class="justify-content-end">
                    <span th:if="${session.userInfo != null}">
                        <span class="header_mail" th:text="${session.userInfo.email}"></span>
                    </span>
                    <a href="regist_user/input.html" th:href="@{'/regist_user/init'}" class="btn btn-execute" title="新規登録"><i class="fas fa-cog fa-spin fa-fw"></i> 新規登録</a>
                </div>
            </nav>
        </div>
        -->
    </body>
</html>
