.bg_image{
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0px;
 }
 
 