<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
        <link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" />
        <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
        <title>WEB Addressbook</title>
    </head>
    
    <body>
        <!-- HEADER 
        <nav class="navbar navbar-light header">
            <a class="navbar-brand" href="#">WEB Addressbook</a>
        </nav>-->
        
        <div class="container-fluid">

            <!-- １段目 -->
	        <div class="row row01 bg_image01">
            
                <!-- HEADER -->
		        <nav class="navbar navbar-light header">
                    <a class="navbar-brand" href="#">WEB Addressbook</a>
                    <div class="justify-content-end">
	                    <span th:if="${session.userInfo != null}">
	                        <span class="header_mail" th:text="${session.userInfo.email}"></span>
	                        <a href="login.html" th:href="@{'/menu'}" class="btn btn-info" style="margin-right: 40px; width: 130px; line-height: 26px;"><i class="fas fa-th-list fa-fw"></i> メニュー</a>
	                    </span>
                        <span th:if="${session.userInfo == null}">
                            <a href="login.html" th:href="@{'/login'}" class="btn btn-info" style="margin-right: 40px; width: 130px; line-height: 26px;"><i class="fas fa-sign-in-alt fa-fw"></i> ログイン</a>
                        </span>
                    </div>
		        </nav>
	        
                <div class="col-5"></div>
                
                <div class="col-7 regist_box">
                    <div class="form-group">
                        <div class="regist_box_padding">
                            <p class="app_name_text mt-4">WEB Addressbook</p>
                            <p class="app_name_sub_text">Springboot Practice Web System</p>
                        </div>
                        <hr class="hr_30" style="margin-right: -15px; margin-left: 15px;">
                        <div class="regist_box_padding">
	                        <form method="post" th:action="@{'/regist_user/regist'}">
	                            <label for="email" class="mail_input_rabel"><i class="fas fa-check"></i> メールアドレス</label>
			                    <input type="email" class="form-control input-lg mail_input" id="email" name="email" placeholder="例）mail@example.com" />
	                            
	                            <div style="margin-top: 20px"></div>
	                            <label for="password" class="mail_input_rabel"><i class="fas fa-check"></i> パスワード</label>
	                            <input type="password" class="form-control input-lg mail_input" id="password" name="password" placeholder="パスワードを設定">
	                            <div style="margin-top: 10px"></div>
	                            <input type="password" class="form-control input-lg mail_input" id="confirmPassword" name="confirmPassword" placeholder="同じパスワードを入力">
	                            <div style="text-align: right; margin-top: 30px; margin-bottom: 70px;">
	                                <button type="submit" id="regist_button" class="btn btn-execute" style="width: 150px; line-height: 30px"><i class="fas fa-leaf fa-fw"></i> 新規登録</button>
	                            </div>
	                        </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- ２段目 -->
            <div class="row bg_image02 row02">

                <!-- アプリの特徴 -->
                <div class="col-6">
                    <div class="feature">
                        <p class="title_text"><i class="fas fa-leaf fa-fw em09"></i> アプリの特徴 <i class="fas fa-leaf fa-fw em09"></i></p>
                        <hr class="hr_23">
                        <ul>
                            <li type="disc" class="feature_text">オンラインでアドレス帳を管理できる便利な WEB アプリです。</li>
                            <li type="disc" class="feature_text">お客様のお悩みにすぐに対応できるよう、専門のスタッフによるコールセンターを用意しています。</li>
                            <li type="disc" class="feature_text">何となくいい感じのデザインになるように画面の構成を考える。</li>
                            <li type="disc" class="feature_text">SpringSecurity を使用してログイン機能を作成する。</li>
                            <li type="disc" class="feature_text">Bootstrap4 を使用して画面を作成する。</li>
                        </ul>
                    </div>
                    <!--
                    <div class="toiawase">
                        <span>
                            <span class="toiawase_text">お問い合わせ</span><br />
                            <span class="toiawase_sub_text">WEB Addressbook に関するご質問・ご連絡など</span>
                        </span>
                        <a href="#" class="btn btn-outline-info" style="width: 150px; line-height: 30px; margin-left: 80px;" role="button">こちら</a>
                    </div>
                    -->
                </div>

                <!--<div class="col-6" style="border-left: dashed 1px rgb(200, 200, 200)">-->
                <div class="col-3">
                    <div class="card" style="height: 100%;">
                        <a href="#"><img class="card-img-top" th:src="@{/img/t1.jpg}" src="../static/img/t1.jpg"></a>
                        <div class="card-body">
                            <p class="card-text post_title">NEWS</p>
                            <hr class="post_title_hr">
                            <p class="card-text post_article">WEB Addressbook のキャンペーンや機能についての新情報をご覧いただけます。</p>
                            <p class="card-text post_update_date">Update：2018/5/2 11:28</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="height: 100%;">
                        <a href="#"><img class="card-img-top" th:src="@{/img/t2.jpg}" src="../static/img/t2.jpg"></a>
                        <div class="card-body">
                            <p class="card-text post_title">開発チーム BLOG</p>
                            <hr class="post_title_hr">
                            <p class="card-text post_article">WEB Addressbook 開発チームの活動記録です。</p>
                            <p class="card-text post_update_date">Update：2018/4/30 18:01</p>
                        </div>
                    </div>
                </div>
            </div>

            
            <!-- ３段目 -->
	        <div class="row row03 bg_image03">
                <div class="col-12">

                    <!-- スライダー -->
                    <div class="slider">
                        <div class="back_quote" style="width: 100%; height:190px;">
                            <p class="customer_voice">オンラインでアドレスを管理できるなんて、便利なシステムだね。<br />僕もすぐに JOIN したよ。</p>
                            <p class="customer_name">東京都 - 山田太郎 様</p>
                        </div>
                        <div class="back_quote" style="width: 100%; height:190px;">
                            <p class="customer_voice">
                                Oh! That's a Springboot Practice Web System!<br />YES!,YES!,YES! "OH MY GOD"
                            </p>
                            <p class="customer_name">USA - J 様</p>
                        </div>
                        <div class="back_quote" style="width: 100%; height:190px;">
                            <p class="customer_voice">
                                ＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸ<br />
                                ＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸ<br />
                            </p>
                            <p class="customer_name">北海道 - 試験一郎 様</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="container-fluid footer">
            <div class="row">
                <div class="col-12">
                    <p style="font-size: 1.3rem; color: rgb(223, 223, 223);">
                        WEB Addressbook
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>&nbsp;
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                </div>
                <div class="col-8" style="text-align: right;">
                    <a href="#" target="_blank">利用規約</a>
                    <span class="margin_left_right">|</span>
                    <a href="#" target="_blank">プライバシーポリシー</a>
                    <span class="margin_left_right">|</span>
                    <a href="#" target="_blank">お問い合わせ</a>
                </div>
            </div>
            <div class="row" style="margin-top: 90px;">
                <div class="col-12">
                    <p class="copyright">Copyright © OsawaApps 2018. All rights reserved.</p>
                </div>
            </div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <!-- スライダーの設定-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
        <script>
            $(".slider").slick({
                infinite: true
                , autoplay: true
                , slidesToShow: 1
                , slidesToScroll: 1
                , arrows: true
                , autoplaySpeed: 4000
                , dots: true
            });
        </script>
    </body>
</html>