<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
        <link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" />
        <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
        <title>WEB Addressbook</title>
    </head>
    
    <body>
        <div class="flex_column">
            <!-- HEADER -->
            <div th:replace="/fragment/header.html::sign_up_header"></div>
            
            <!-- CONTENTS -->
            <div class="flex_contents bg_image">
                <div class="container">
                    <div class="row">
	                    <h2>ログイン</h2>
	                    <hr class="hr_red">
	                    <p th:if="${loginError}" class="has-global-error">メールアドレス・パスワードに誤りがあるか、登録されていません。</p>
                    </div>
                    <form method="post" th:action="@{'/exec_login'}">
                      <div class="form-group">
                        <label for="email" class="col_str">メールアドレス</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="例）mail@example.com">
                      </div>
                      <div class="form-group">
                        <label for="password" class="col_str">パスワード</label>
                        <input type="password" class="form-control" id="password" name="password">
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
                        <label class="form-check-label col_str" for="remember-me">ログイン状態を保持する</label>
                      </div>
                      <div class="mt-4">
                        <button type="submit" id="login_button" class="btn btn-info"><i class="fas fa-sign-in-alt fa-fw"></i> ログイン</button>
                      </div>
                    </form>
                </div>
            </div>
            
            <!-- FOOTER -->
            <div th:replace="/fragment/footer.html::footer"></div>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>