<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>住所登録</title>
	<meta http-equiv="Content-Type"
	       content="text/html" charset="UTF-8" />
</head>
	<body>
	   <form method="post" action="/regist_address">
           <input type="text" name="firstName" th:value="${firstName}" /><br />
           <input type="text" name="lastName" th:value="${lastName}" /><br />
           <input type="text" name="mobilePhoneNumber" th:value="${mobilePhoneNumber}" /><br />
           <input type="text" name="homePhoneNumber" th:value="${homePhoneNumber}" /><br />
           <input type="text" name="email" th:value="${email}" /><br />
           <input type="text" name="zipCode" th:value="${zipCode}" /><br />
           <input type="text" name="prefecture" th:value="${prefecture}" /><br />
           <input type="text" name="address" th:value="${address}" /><br />
           <input type="text" name="buildingName" th:value="${buildingName}" /><br />
	       <input type="submit" value="登録" />
	   </form>
	</body>
</html>