<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
        <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.0.2/dist/css/glide.core.css">
        <link rel="stylesheet" href="https://unpkg.com/@glidejs/glide@3.0.2/dist/css/glide.theme.min.css">
        <link href="../static/css/common.css" th:href="@{/css/common.css}" rel="stylesheet" />
        <link href="../static/css/temp_top.css" th:href="@{/css/temp_top.css}" rel="stylesheet" />
        <title>WEB Addressbook</title>
    </head>
    
    <body>
        <!-- HEADER 
        <nav class="navbar navbar-light header">
            <a class="navbar-brand" href="#">WEB Addressbook</a>
        </nav>-->
        
        <div class="container-fluid">

            <!-- １段目 -->
	        <div class="row bg_image01">
            
                <!-- HEADER -->
		        <nav class="navbar navbar-light header">
		            <a class="navbar-brand" href="#">WEB Addressbook</a>
		        </nav>
	        
                <div class="col-5"></div>
                
                <div class="col-7 regist_box">
                    <div class="form-group">
                        <div class="regist_box_padding">
                            <p class="app_name_text mt-4">WEB Addressbook</p>
                            <!-- <p class="app_name_sub_text">Oh! That's a Springboot Practice Web System! Yes!,Yes!,Yes! Oh My God!</p>-->
                            <p class="app_name_sub_text">Springboot Practice Web System</p>
                        </div>
                        <hr class="hr_30" style="margin-right: -15px; margin-left: 15px;">
                        <div class="regist_box_padding">
                            <label for="mailaddress" class="mail_input_rabel"><i class="fas fa-check"></i> メールアドレス</label>
                            <input type="text" class="form-control input-lg mail_input" id="mailaddress" placeholder="例）mail@example.com">
                            <div style="margin-top: 20px"></div>
                            <label for="password" class="mail_input_rabel"><i class="fas fa-check"></i> パスワード</label>
                            <input type="password" class="form-control input-lg mail_input" id="password" placeholder="パスワードを設定">
                            <div style="margin-top: 10px"></div>
                            <input type="password" class="form-control input-lg mail_input" id="re_password" placeholder="同じパスワードを入力">
                            <div style="text-align: right; margin-top: 30px; margin-bottom: 70px;">
                                <a href="#" class="btn btn-execute" style="width: 150px; line-height: 30px" role="button"><i class="fas fa-leaf fa-fw"></i> 新規登録</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- ２段目 -->
            <div class="row bg_image02 row02">

                <!-- アプリの特徴 -->
                <div class="col-5">
                    <div class="feature">
                        <p class="title_text"><i class="fas fa-leaf fa-fw em09"></i> アプリの特徴 <i class="fas fa-leaf fa-fw em09"></i></p>
                        <hr class="hr_23">
                        <ul>
                            <li type="disc" class="feature_text">オンラインでアドレスを管理できる便利な Springboot 練習用アプリです。</li>
                            <li type="disc" class="feature_text">SpringSecurity を使用してログイン機能を作成。</li>
                            <li type="disc" class="feature_text">Bootstrap4 を使用して画面を作成。</li>
                        </ul>
                    </div>
                </div>

                <div class="col-7" style="border-left: dashed 1px rgb(200, 200, 200);">

 
                    
                </div>
            </div>

            
            <!-- ３段目 -->
	        <div class="row row03 bg_image03">
                <div class="col-12">
                    <!--
                    <p class="title_text"><i class="fas fa-leaf fa-fw em09"></i> お問い合わせ <i class="fas fa-leaf fa-fw em09"></i></p>
                    -->
                    <!-- カルーセル -->
                    <div class="glide">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                <li class="glide__slide back_quote">
                                    <div style="width: 100%; height:250px;">
                                        <blockquote>
                                            <p class="customer_voice">オンラインでアドレスを管理できるなんて、便利なシステムだね。<br />僕もすぐに JOIN したよ。</p>
                                            <p class="customer_name">東京都 - 山田太郎 様</p>
                                        </blockquote>
                                    </div>
                                </li>
                                <li class="glide__slide back_quote">
                                    <div style="width: 100%; height:250px;">
                                        <blockquote>
                                            <p class="customer_voice">
                                                Oh! That's a Springboot Practice Web System!<br />YES!,YES!,YES! "OH MY GOD"
                                            </p>
                                            <p class="customer_name">USA - J 様</p>
                                        </blockquote>
                                    </div>
                                </li>
                                <li class="glide__slide back_quote">
                                    <div style="width: 100%; height:250px;">
                                        <blockquote>
                                            <p class="customer_voice">
                                                ＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸ<br />
                                                ＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸＸ<br />
                                            </p>
                                            <p class="customer_name">北海道 - 試験一郎 様</p>
                                        </blockquote>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- FOOTER -->
        <div class="container-fluid footer">
            <p class="copyright">Copyright © OsawaApps 2018. All rights reserved.</p>
        </div>
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <script src="https://unpkg.com/@glidejs/glide@3.0.2/dist/glide.js"></script>
        <script>
            new Glide('.glide', {
                autoplay: 7000,
                hoverpause: true,
                animationDuration: 2000,
                navigation: true,
                arrows: true,
            }).mount()
        </script>
    </body>
</html>