.bg_image{
    background-image: url("../../img/bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0px;
}

.edit_btn, .detail_btn {
    color: rgb(117, 90, 90);
    cursor: pointer;
}

.edit_btn:hover, .detail_btn:hover {
    color: rgb(177, 150, 150);
}

.main_table {
    background-color: rgba(195, 171, 137, 0.2);
    border-radius: 7px;
}

.main_table_header {
    color: rgb(117, 90, 90);
}

/* ŒŸõğŒiŒÂ•Ê•¶šj */
.search_individual_str {
	padding: 15px;
}
.search_individual_str > p {
    color: rgb(140, 110, 110);
}
.search_individual_str > p > a:hover {
	font-weight: 600;
	cursor: pointer;
}

.container_padding {
    padding: 0px 90px;
}

.left_sticky {
    height: 500px; 
    position: sticky; 
    top: 10px;
}

/* Bootstrap‚Ìtable‚Ì’è‹`‚ğã‘‚« */
.table td, .table th {
    border-top: none;
}

