.bg_image{
    background-image: url("../../img/bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0px;
}

.edit_btn, .detail_btn {
    color: rgb(33, 37, 41);
    cursor: pointer;
}

.edit_btn:hover, .detail_btn:hover {
    color: rgb(254, 254, 242);
}

.main_table {
    background-color: rgba(195, 171, 137, 0.2);
    border-radius: 7px;
}

.main_table_header {
    color: rgb(117, 90, 90);
}

/* Bootstrap‚Ìtable‚Ì’è‹`‚ğã‘‚« */
.table td, .table th {
    border-top: none;
}

